# 指定lombok根目录
config.stopBubbling=true

# lombok 默认子类的 equals 和 hashCode 方法，不会包含或者考虑基类的属性。
# 添加如下配置即可包含父类属性。
lombok.equalsAndHashCode.callSuper=call

# 如果需要 toString() 打印父类的属性，在 @Data 后面添加 @ToString(callSuper = true) 注解

# 可以通过@ ToString.Include（rank = -1）更改成员的打印顺序。未被标记添加rank标记的成
# 员的rank默认= 0，更高等级的成员被首先打印，并且相同等级的成员以它们在源文件中出现的相同顺序被打印